.container {
    border: 1px solid gray;
    border-radius: 3px;
    width: 370px;
    height: fit-content;
    display: flex;
    flex-flow: row nowrap;
}

.task {
    width: 100%;
}

.button {
    background-color: transparent;
    border-radius: 3px;
    width: 60px;
}